@import "./variables.scss";

.header-item {
  text-transform: capitalize;
  color: $third_color;
  cursor: pointer;
  position: relative;
  a {
    color: inherit;
    text-decoration: none;
  }
  &::before {
    width: 0;
  }
  &:not(.action-item):hover::before {
    content: "";
    position: absolute;
    bottom: 0;
    animation: expand_underline 0.25s forwards ease;
    border: 1px solid $forth_color;
  }
  &.action-item {
    background-color: $primary_color;
    padding: 0.2rem 0.9rem;
    border-radius: 2rem;
    color: white;
    border: none;
  }
}

@keyframes expand_underline {
  to {
    width: 100%;
  }
}

@media only screen and (min-width: 500px) {
  .header-item {
    font-size: 1.1rem;
  }
}

@media only screen and (min-width: 650px) {
  .header-item {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 1000px) {
  .header-item {
    font-size: 1.4rem;
  }
}
