@import "./variables.scss";
.header-wrapper {
  padding: 0.2rem 0.4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40px;
  background-color: white;
  .header-logo {
    font-size: 1.5rem;
    a {
      text-decoration: none;
      :first-child {
        color: $secondary_color;
      }
      :nth-child(2) {
        color: $third_color;
      }
    }
  }
  .header-content {
    .header-h-menu-logo-wrapper {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-evenly;
      cursor: pointer;
      .header-h-menu-logo-item {
        border: 1px solid;
        width: 0;
        animation: 0.4s forwards cubic-bezier(0.69, 1.48, 0, 1.27);
      }
      .header-h-menu-logo-item:nth-of-type(1) {
        // width: 15px;
        border-color: $forth_color;
        animation-name: expand_1;
        // animation: expand_1 0.4s forwards ease;
      }
      .header-h-menu-logo-item:nth-of-type(2) {
        // width: 20px;
        border-color: $third_color;
        animation-name: expand_2;
        // animation: expand_2 0.4s forwards ease;
      }
      .header-h-menu-logo-item:nth-of-type(3) {
        // width: 25px;
        border-color: $secondary_color;
        animation-name: expand_3;
        // animation: expand_3 0.4s forwards ease;
      }
    }
    .header-h-menu-open {
      .header-h-menu-logo-item {
        transition: 0.3s all ease;
      }
      .header-h-menu-logo-item:nth-of-type(1) {
        border-color: $secondary_color;
        width: 25px !important;
        transform: rotate(-45deg) translate(-3.5px, 4.5px);
      }
      .header-h-menu-logo-item:nth-of-type(2) {
        display: none;
      }
      .header-h-menu-logo-item:nth-of-type(3) {
        transform: rotate(45deg) translate(-3.5px, -4.5px);
      }
    }

    .header-h-menu-close {
      .header-h-menu-logo-item {
        transition: 0.3s all ease;
        transform: none;
      }
    }
  }
}

@keyframes expand_1 {
  to {
    width: 15px;
  }
}

@keyframes expand_2 {
  to {
    width: 20px;
  }
}

@keyframes expand_3 {
  to {
    width: 25px;
  }
}
