@import "./variables.scss";

.hero-wrapper {
  margin-top: 50px;
  //   padding: 0.2rem;
  min-height: calc(100vh - 90px);
  position: relative;

  .hero-background {
    position: absolute;
    background-image: url("/blue_circle.svg");
    width: 100%;
    height: 100%;
    filter: blur(10px);
  }

  .hero-content {
    text-transform: capitalize;
    position: absolute;
    top: 200px;
    margin-left: 1rem;
    margin-right: 0.3rem;
    .header {
      font-size: 3.5rem;
      color: $secondary_color;
      margin-left: -0.1rem;
      display: block;
    }
    .changing-content {
      font-size: 1.2rem;
      // margin-left: 0.6rem;
      display: block;
    }
    .middle {
      // margin-left: 0.5rem;
      font-size: 2rem;
    }
  }
}

@media only screen and (min-width: 1400px) {
  .hero-wrapper {
    .hero-background {
      background-size: 650px 650px !important;
    }
    .hero-content {
      .header {
        font-size: 9rem !important;
      }
      .middle {
        font-size: 7.5rem !important;
      }
      .changing-content {
        font-size: 4.5rem !important;
      }
    }
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
  .hero-wrapper {
    .hero-background {
      background-size: 600px 600px !important;
    }
  }
}

@media only screen and (min-width: 1000px) {
  .hero-wrapper {
    .hero-background {
      background-repeat: no-repeat;
      background-size: 500px 500px;
      background-position: 100% 100%;
      filter: blur(0);
    }
    .hero-content {
      margin-left: 2rem;
      top: 100px;
      .header {
        font-size: 8rem;
      }
      .middle {
        font-size: 6rem;
      }
      .changing-content {
        font-size: 3rem;
      }
    }
  }
}

@media only screen and (min-width: 850px) and (max-width: 1000px) {
  .hero-wrapper {
    .hero-content {
      .header {
        font-size: 8rem;
      }
      .middle {
        font-size: 6rem;
      }
      .changing-content {
        font-size: 3rem;
      }
    }
  }
}

@media only screen and (min-width: 500px) and (max-width: 850px) {
  .hero-wrapper {
    .hero-content {
      .header {
        font-size: 5rem;
      }
      .middle {
        font-size: 4rem;
      }
      .changing-content {
        font-size: 1.8rem;
      }
    }
  }
}
