@import "./variables.scss";
.h-menu-wrapper {
  padding: 0.2rem 0.4rem;
  visibility: hidden;
  position: absolute;
  top: -40px;
  right: 0;
  left: 0;
  height: 50px;
  z-index: -5;
  animation: expand_header 0.5s ease forwards;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  div {
    text-transform: capitalize;
    color: $third_color;
    cursor: pointer;
    position: relative;
    &::before {
      width: 0;
    }
    &:hover::before {
      content: "";
      position: absolute;
      bottom: 0;
      animation: expand_underline 0.25s forwards ease;
      border: 1px solid $forth_color;
    }
  }
}

@keyframes expand_header {
  50% {
    visibility: visible;
  }
  to {
    visibility: visible;
    top: 40px;
  }
}

@keyframes expand_underline {
  to {
    width: 100%;
  }
}
