@import "./variables.scss";

.how-wrapper {
  min-height: calc(100vh);
  padding: 0.4rem;
  position: relative;

  .how-background {
    position: absolute;
    width: calc(100% - 0.4rem);
    height: calc(100% - 0.4rem);
    background-image: url("/blue_circle.svg");
    background-position: 100% 100%;
    // background-size: 200px 200px;
    filter: blur(10px);
    z-index: -1;
    background-repeat: no-repeat;
  }

  .how-slider-wrapper {
    display: flex;
    overflow: auto;
    scroll-snap-type: x mandatory;

    .how-slider-item-wrapper {
      flex-shrink: 0;
      scroll-snap-align: start;
      max-width: 300px;

      .how-image-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
      }

      .how-text-wrapper {
        font-size: 1.7rem;
        text-transform: capitalize;
      }
      .how-subtext-wrapper {
        font-size: 1.2rem;
      }
    }
  }

  .how-header {
    font-size: 2rem;
    text-transform: capitalize;
    color: $secondary_color;
    position: relative;
    margin-bottom: 3rem;
    span {
      color: $third_color;
    }
    ::before {
      content: "How";
      position: absolute;
      font-size: 8rem;
      opacity: 0.15;
      // right: 0;
      left: 0;
      // left: 30px;
      top: -40px;
      z-index: -10;
    }
  }
}
