@import "./variables.scss";

.test-container {
  height: 100vh;
  width: 100vw;
  padding: 0.4rem;
  position: relative;

  .test-background {
    position: absolute;
    width: calc(100% - 0.8rem);
    height: calc(100% - 0.8rem);
    // bottom: 0;
    z-index: -1;
    // filter: blur(10px);
    background-position: -15% 70%;
    // background-repeat: no-repeat;
    background-image: url("/blue_circle.svg");
  }

  .test-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;

    overflow: hidden;
    .question-wrapper {
      background: rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      // border-radius: 1rem;
      padding: 1rem;
      transition: 1s cubic-bezier(0.19, 0.11, 0.2, 1) all;
      min-width: calc(100vw - 0.8rem);

      .question {
        font-size: 1.6rem;
        font-weight: 300;
      }
      .question-options-wrapper {
        margin-top: 10%;
        font-weight: 400;
        font-size: 1.2rem;

        input[type="radio"] {
          margin-top: 1rem;
        }

        input[type="number"] {
          outline: none;
          border: 1px solid #ddd;
          padding: 0.5rem;
          font-size: 1rem;
          width: 300px;
          height: 40px;
          border-radius: 0.4rem;
          appearance: textfield;
          -moz-appearance: textfield;
          &:hover:not(:focus) {
            box-shadow: 1px 1px 10px #ccc;
          }

          &:focus {
            box-shadow: 1px 1px 10px #aaa;
          }

          &::placeholder {
            text-transform: capitalize;
            font-size: 0.9rem;
          }
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
        }
      }
    }
  }
  .action-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    button {
      border: none;
      background: transparent;
      padding: 0.5rem 1rem;
      margin: 0.2rem;
      text-transform: capitalize;
      font-weight: 400;
      border-radius: 0.3rem;
      font-size: 0.9rem;
      cursor: pointer;
    }
    .next,
    .submit {
      background-color: $secondary_color;
      color: #fff;
    }
    .prev {
      border: 1px solid $secondary_color;
      color: $secondary_color;
    }
  }
}
