@import "./variables.scss";

.test-wrapper {
  padding: 0.4rem;

  .question-wrapper {
    height: 50vh;

    .question {
      font-size: 1.2rem;
      font-weight: 300;
    }
    .question-options-wrapper {
      margin-top: 20%;
      font-weight: 400;

      input[type="radio"] {
        margin-top: 0.5rem;
      }
    }
  }
}
