@import "./variables.scss";

.test-intro-backdrop-open {
  z-index: 5;
  width: 100vw;
  height: 100vh;

  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  position: absolute;
  top: 0;
}
.test-intro-backdrop-close {
  display: none;
}

.test-intro-wrapper {
  position: absolute;
  height: 35vh;
  left: 2rem;
  right: 2rem;
  padding: 0.5rem;
  z-index: 10;
  background-color: #fff;
  border-radius: 0.5rem;
  top: 50%;
  transform: translateY(-50%);

  .test-intro-header {
    font-size: 1.4rem;
    text-transform: capitalize;
  }

  .test-intro-explaination {
    font-size: 0.9rem;
    margin-top: 1rem;
  }

  .test-intro-select {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    // gap: 0.2rem;
    .toggle-wrapper {
      position: relative;
      width: 70px;
      height: 30px;
      border-radius: 0.9rem;
      border: 1px solid #ccc;
      .toggle-indicator {
        position: absolute;
        width: 26px;
        height: 26px;
        // border: 1px solid black;
        top: 1px;
        border-radius: 50%;
        transition: 0.3s ease all;
      }
      .compact {
        transform: translateX(40px);
        // left: 5px;
        // right: none;
        background-color: $secondary_color;
      }
      .full {
        transform: translateX(3px);

        // right: 5px;
        // left: none;
        background: #ccc;
      }
    }
    .toggle-text {
      font-size: 1.1rem;
      font-weight: 400;
    }
  }

  .intro-actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 1.5rem;
    position: absolute;
    bottom: 10px;
    right: 10px;
    button {
      border: 1px solid $primary_color;
      background-color: transparent;
      padding: 0.4rem 0.9rem;
      font-size: 1rem;
      border-radius: 0.3rem;
    }
  }
}

.wrapper-close {
  animation: close_intro 0.3s linear forwards;
}

@keyframes close_intro {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
}
