@import "./variables.scss";

.what-wrapper {
  margin-top: 50px;
  min-height: calc(100vh - 40px);
  padding: 0.2rem 0.4rem;
  position: relative;
  .what-background {
    position: absolute;
    width: calc(100% - 0.4rem);
    height: calc(100% - 0.2rem);
    background-image: url("/blue_circle.svg");
    background-repeat: no-repeat;
    background-position: 100% 100%;
    z-index: -1;
    filter: blur(10px);
  }
  .what-header {
    color: $secondary_color;
    text-transform: capitalize;
    font-size: 2rem;
    position: relative;
    width: 100%;
    span {
      text-transform: capitalize;
      color: $third_color;
    }

    ::before {
      content: "What";
      position: absolute;
      font-size: 8rem;
      opacity: 0.15;
      // right: 0;
      left: 0;
      // left: 30px;
      top: -40px;
      z-index: -10;
    }
  }
  .what-content {
    font-size: 1.1rem;
    line-height: 1.6rem;
  }
  .diabeto {
    display: none;
  }
  .i {
    overflow: scroll;
    width: 100%;
    height: 100px;
  }
}

@media only screen and (min-width: 1500px) {
  .what-wrapper {
    .what-content-wrapper {
      .what-content {
        font-size: 2.2rem !important;
        line-height: 2.9rem !important;
        flex: 0 0 60% !important;
      }
    }
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1500px) {
  .what-wrapper {
    .what-content-wrapper {
      .what-content {
        font-size: 2rem !important;
        line-height: 2.6rem !important;
        flex: 0 0 60% !important;
      }
    }
  }
}

@media only screen and (min-width: 1000px) {
  .what-wrapper {
    .what-header {
      font-size: 4.2rem;
      ::before {
        font-size: 11rem;
      }
    }
    .what-background {
      background-image: none;
    }
    .what-content-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      .what-content {
        font-size: 1.7rem;
        line-height: 2.3rem;
        text-align: justify;
        flex: 0 0 50%;
      }
      .diabeto {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

@media only screen and (min-width: 900px) and (max-width: 1000px) {
  .what-wrapper {
    .what-header {
      font-size: 4rem;
    }
    .what-background {
      background-size: 400px 400px;
    }
    .what-content {
      font-size: 2rem;
      line-height: 2.6rem;
    }
  }
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
  .what-wrapper {
    .what-header {
      font-size: 3rem;
    }
    .what-background {
      background-size: 400px 400px;
    }
    .what-content {
      font-size: 1.85rem;
      line-height: 2.4rem;
    }
  }
}

@media only screen and (min-height: 900px) and (max-width: 600px) {
  .what-wrapper {
    .what-header {
      font-size: 2.9rem;
    }
    .what-content {
      font-size: 1.85rem;
      line-height: 2.2rem;
    }
  }
}

@media only screen and (min-height: 850px) and (max-height: 900px) and (max-width: 600px) {
  .what-wrapper {
    .what-content {
      font-size: 1.65rem;
      line-height: 2.1rem;
    }
  }
}

@media only screen and (min-height: 700px) and (max-height: 850px) and (max-width: 600px) {
  .what-wrapper {
    .what-content {
      font-size: 1.45rem;
      line-height: 2rem;
    }
  }
}
