@import "./variables.scss";

.what-wrapper {
  margin-top: 50px;
  height: calc(100vh - 40px);
  padding: 0.2rem;
  .what-header {
    color: $secondary_color;
    text-transform: capitalize;
    font-size: 2rem;
    position: relative;
    width: 100%;
    span {
      color: $third_color;
    }

    ::before {
      content: "What";
      position: absolute;
      font-size: 8rem;
      opacity: 0.2;
      right: 0;
      top: -100px;
      z-index: -10;
    }
  }
  .what-content {
    font-size: 1.1rem;
    line-height: 1.6rem;
  }
  .i {
    overflow: scroll;
  }
}
